body {
    background-image: url('img/background.gif');
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#logo {
    height: 50px;
    width: 201px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

#header {
    height: 60px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #1B1B1B;
    color: blue;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    text-overflow: ellipsis;
}

.nav {
    font-family: Hack, monospace;
    text-transform: uppercase;
    color: white;
    padding: 5px 8px;
    background: none;
}

.nav:hover {
    border-radius: 10px;
    color: #333333;
    background-color: #b2b4b2;
}

.tab240 {
    display: inline-block;
    margin-left: 240px;
}

.tab200 {
    display: inline-block;
    margin-left: 200px;
}

#tableOfContents {
    padding: 15px;
    width: 100%;
    white-space: nowrap;
}

#tableOfContents a {
    float: left;
    text-decoration: none;
}

#tableOfContents form {
    float: right;
    margin-right: 10px;
    text-decoration: none;
}

.cart {
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    padding-left: 40px;
    background-image: url("img/cart.png");
}

#tableOfContents .cart {
    float: right;
    margin-right: 50px;
}

#search {
    font-family: Hack, monospace;
}

h2 {
    text-align: center;
}

.black {
    background-color: black;
}

.blue {
    background-color: lightblue;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: lightyellow;
    color: black;
}

.pink {
    background-color: lightpink;
}

.natural {
    background-color: tan;
}

.black2 {
    background-color: #333333;
}

.white {
    background-color: white;
    color: black;
}

.blue2 {
    background-color: darkblue;
}

.center {
    display: block;
    margin: auto;
    width: 60%;
}

.suggested1 {
    display: inline-block;
    width: 30%;
}

.suggested2 {
    display: inline-block;
    width: 30%;
}

.suggested3 {
    display: inline-block;
    width: 39%;
}

#allContent {
    background: lightgrey;
    margin: 60px;
    overflow: hidden;
}

#mainContent {
    float: center;
    margin: 50px;
}
